{% extends 'blogs/index.html' %} {% block nav%}
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Airtraffic</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li><a href="/blogs"><span class="glyphicon glyphicon-hand-left"></span> Retour</a></li>

        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="check/"><span class="glyphicon glyphicon-zoom-in"></span> Recherche</a></li>
        </ul>
    </div>
</nav>
{% endblock %} {% block content %}
<h1>jndjnjdn</h1>
{% endblock %}